/build/pubspec.lock
/build/.dart_tool
/out/
/packages/fireworks_cli/.dart_tool/
/packages/fireworks_cli/pubspec.lock
/packages/app/.dart_tool/
/packages/app/pubspec.lock

/.idea/dictionaries/
/.idea/libraries/
/.idea/.gitignore
/.idea/editor.xml
/.idea/fireworks.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyles/
/build/out/
