[submodule "app/vendor/ninja"]
	path = app/vendor/ninja
	url = https://github.com/zopnote/ninja.git
[submodule "app/vendor/dart-sdk"]
	path = app/vendor/dart-sdk
	url = https://github.com/zopnote/dart-sdk.git
[submodule "app/vendor/depot_tools"]
	path = app/vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "app/vendor/llvm-project"]
	path = app/vendor/llvm-project
	url = https://github.com/zopnote/llvm-project.git
